<!-- <app-user>
</app-user>
<app-parent>
</app-parent>
<app-child>
</app-child> -->
<h1>Phòng nghiên cứu phát triển</h1>
<h1>Buổi 9: Tương tác giữa các Components</h1>

<h3>Cách 1: Truyền dữ liệu từ Component cha xuống con qua Input Binding: </h3>

<app-hero-parent></app-hero-parent>

<h3>Cách 2: Truyền dữ liệu từ Component cha xuống con qua Setter: </h3>
<app-name-parent></app-name-parent>

<h3>Cách 3: Truyền dữ liệu từ Component cha xuống con qua ngOnChanges event: </h3>
<app-version-parent></app-version-parent>

<h3>Cách 4: Component cha lắng nghe sự kiện từ component con: </h3>
<app-vote-taker></app-vote-taker>

<h3>Cách 5: Tương tác thông qua biến nội bộ: </h3>
<app-countdown-parent-lv></app-countdown-parent-lv>

<h3>Cách 6: Sử dụng &#64;ViewChild: </h3>
<app-countdown-parent-vc></app-countdown-parent-vc>

<h3>Cách 7: Tương tác thông qua Services: </h3>
<app-mission-control></app-mission-control>
<!-- <h1>jjjjjjjjjjjjjjjjjjjjjjjjjjj</h1>
<app-astronaut></app-astronaut> -->